<div>
    <h2>Body</h2>
    {% if 'application/json' in content_type %}
        {% set id = random() ~ '-body' %}
        <pre style="background: #fff"><code id="{{ id }}"></code></pre>
        <script>
            $("#{{ id }}").JSONView('{{- body | e('js') -}}', { collapsed: true });
        </script>
    {% elseif 'application/xml' in content_type %}
        <a href="#" onclick="open_data_in_new_window('application/xml', '{{ body | e('js') }}')">Show in new window</a>
    {% elseif 'text/html' in content_type %}
        <a href="#" onclick="open_data_in_new_window('text/html', '{{ body | raw | e('js') }}')">Show in new window</a>
    {% else %}
        <pre style="background: #fff; border: 1px solid #E0E0E0; padding: 10px;"><code>{{ body }}</code></pre>
    {% endif %}
</div>