{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% if collector.calls is empty %}
        {% set color = 'grey' %}
    {% elseif collector.countErrors > 0 %}
        {% set color = 'red' %}
    {% else %}
        {% set color = 'green' %}
    {% endif %}

    {% set icon %}
        <span class="sf-toolbar-label">Guzzle</span>
        <span class="sf-toolbar-value sf-toolbar-status sf-toolbar-status-{{ color }}">{{ collector.calls|length }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Requests</b>
            <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.calls|length - collector.countErrors }}</span>
            {% if collector.countErrors > 0 %}
                + <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.countErrors }}</span>
            {% endif %}
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Requests time</b>
            {% if collector.totalTime > 1.0 %}
                <span>{{ '%0.2f'|format(collector.totalTime) }} s</span>
            {% else %}
                <span>{{ '%0.0f'|format(collector.totalTime * 1000) }} ms</span>
            {% endif %}
        </div>
    {% endset %}

    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': 'guzzle' } %}
{% endblock %}

{% block menu %}
    <span class="label">
        <strong>Guzzle</strong>
        <span class="count">
            {% if collector.calls is not empty %}
                <span>{{ collector.calls|length }}</span>
                {% if collector.totalTime > 1.0 %}
                    <span>{{ '%0.2f'|format(collector.totalTime) }} s</span>
                {% else %}
                    <span>{{ '%0.0f'|format(collector.totalTime * 1000) }} ms</span>
                {% endif %}
            {% endif %}
        </span>
    </span>
{% endblock %}

{% block head %}
    {{ parent() }}
    <link href="{{ asset('bundles/adwguzzle/css/jquery.jsonview.css') }}" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/adwguzzle/js/jquery.jsonview.js') }}"></script>

    <style type="text/css">
        #menu-profiler li {
            z-index: 999;
        }

        .requests-list tr {
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block panel %}
    <table class="requests-list">
        <thead>
            <tr>
                <th>Method</th>
                <th>Resource</th>
                <th>Status</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for key, call in collector.calls %}
            <tr data-request-id="{{ key }}" {% if call.response.statusCode > 399 %}class="status-error"{% endif %}>
                <td>{{ call.request.method }}</td>
                <td>{{ call.request.uri }}</td>
                {% if call.response %}
                <td>{{ call.response.statusCode }} {{ call.response.reasonPhrase }}</td>
                {% endif %}
                <td>
                    {% if call.duration > 1.0 %}
                        <span>{{ '%0.2f'|format(call.duration) }} s</span>
                    {% else %}
                        <span>{{ '%0.0f'|format(call.duration * 1000) }} ms</span>
                    {% endif %}
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    {% for key, call in collector.calls %}
        {% include 'ADWGuzzleBundle:Collector:call.html.twig' with {key: key, call: call} %}
    {% endfor %}

    <script>
        var requestsList = $('.requests-list');

        $('.requests-list tr').click(function(){
            $(requestsList).hide();
            $('#request-' + $(this).data('request-id')).show();
        });

        $('.back-to-requests-list').click(function(){
            $('.requests-list').show();
            $(this).parents('.request-info').hide();
        });

        function open_data_in_new_window(header, data)
        {
            window.open('data:' + header + ';charset=utf-8,' + encodeURIComponent(data), "_blank", "resizable=yes")
        }
    </script>
{% endblock %}
