<div>
    <h2>Headers</h2>
    <table>
        <tbody>
        {% for key, header in message.headers %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ message.headerLine(key) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>